body {
    font-family: Arial, Helvetica, sans-serif;
}


.card {
    border: none;
}


small {
    font-size: 0.85rem;
}


.form-control:focus {
    box-shadow: 0 0 0 0.2rem rgba(13, 110, 253, 0.25);
}
body.bg-gradient {
    background: linear-gradient(135deg, #4f46e5, #9333ea);
}

.icon-circle {
    width: 55px;
    height: 55px;
    background: #4f46e5;
    color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    margin: auto;
}