body {
    font-family: Arial, sans-serif;
    transition: background-color 0.3s, color 0.3s;
    background-color: #ffffff;
    color: #000000;
}

.container {
    text-align: center;
    margin-top: 150px;
}


.dark {
    background-color: #121212;
    color: #ffffff;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
}
